{% extends "layout.html" %}

{% block main %}
    <body>
        <form action="/" method="post">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to CIPHERTOOL!</h1>
            <p class="lead">Use the dropdown below to select a cipher method.</p>
            <hr class="my-4">
            <p id="index">Different cipher algorithms will cipher your text in different ways.</p>
            <p class="lead">
            <select class="dropdown" name="dropdown">
                <option value="caesar" name="caesar">CAESAR</option>
                <option value="initial" name="none" selected>---</option>
                <option value="reverse" name="reverse">REVERSE</option>
                <option value="reflect" name="reflect">REFLECT</option>
            </select>
            <script>
                document.querySelector('select').onchange = function() {
                    var state = this.value;
                    if (this.value === "caesar")
                    {
                        document.getElementById("index").innerHTML = 'This algorithm will shift all the letters in your text a certain number of places down the alphabet.<br>Please enter a value to shift every letter of your text by.<br><div class="form-group"><input class="form-control" name="number" placeholder="#" type="number" style="width:80px;"><p name="caeCi" style="visibility: hidden;"></p>';
                    }
                    if (this.value === "reflect")
                    {
                        document.getElementById("index").innerHTML = "This algorithm will split the alphabet down the middle, and reflect every letter to it's mirrored counterpart";
                    }
                    if (this.value === "initial")
                    {
                        document.getElementById("index").innerHTML = "Different cipher algorithms will cipher your text in different ways.";
                    }
                    if (this.value === "reverse")
                    {
                        document.getElementById("index").innerHTML = "This algorithm will reverse every individual character in your text.";
                    }
                }
            </script>
            <button class="btn btn-outline-secondary btn-sm" type="submit">CONTINUE</button>
            </p>
        </div>
        </form>
    </body>
{% endblock %}